Repository RDycore/RDycore, pull requests merged in 2023-11, with the labels that each got.

#106 Basic documentation structure and YAML input spec
  .github/workflows/gh-pages.yml
  docs/developer/index.md
  docs/index.md
  docs/installation.md
  docs/javascript/mathjax.js
  docs/user/index.md
  docs/user/input.md
  mkdocs.yml
Labels: documentation

#107 Knepley/fix mesh creation rebased
  .github/workflows/auto_test.yml
  driver/tests/swe_roe/CMakeLists.txt
  include/private/rdycoreimpl.h
  src/rdysetup.c
  src/read_config_file.c
  src/write_xdmf_output.c
  tools/build-petsc-docker-image.sh
Labels: mesh and discretization, petsc

#109 Adds options to temporally interpolate SS and BC
  driver/main.F90
  driver/main.c
  driver/tests/swe_roe/CMakeLists.txt
Labels: enhancement, driver

#112 Fixes the indices for CEED restriction
  src/swe/swe_ceed.c
Labels: bug-fix
